/* Media Queries */

/* lo-res laptops ands desktops */
@media screen and (max-width:960px) {
    body {
        background-image: url(../images/smokeyquartz.jpg);
    }
}


/* small devices, like tablets and e-readers */
@media screen and (max-width:768px) {
    body {
        line-height: 300%;
        background-image: url(../images/smokeyquartz.jpg);
    }

    .lets-play {
        font-size: 36px;
    }

    h2, 
    h3 {
        font-size: 36px;
    }

    footer {
        height: 100px;
    }
}

/* extra small devices, like smartphones */
@media screen and (max-width: 480px) {
    body {
        line-height: 275%;
        background-image: url(../images/smokeyquartz.jpg);
        margin-top: 200px;
    }

    .header {
        height: 175px;
        padding-top: 35px;
    }

    #header {
        font-size: 68px;
    }

    .lets-play,
    h2 {
        font-size: 24px;
        text-shadow: none;
    }

    .container {
        padding: 15px;
    }

    h3 {
        font-size: 20px;
    }

    footer {
        height: 75px;
    }
}