body {
    text-align: center;
    line-height: 150%;
    background-image: url(../images/orbs.jpg);
    background-position-y: 125px;
    margin-top: 150px;
    width: 100%;
    margin: 0 auto;
}

/* Style the header div */
.header {
    text-align: center;
    background-color: #54544e;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    border-bottom: 4px solid #fff;
}

/* Style the text inside of the header */
#header {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150px;
    text-shadow: 4px 4px 4px #888;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    position: absolute;
}

/* Style the subheading text */
.lets-play {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 68px;
}

#letsPlay {
    margin-top: 200px;
    margin-bottom: 125px;
    width: 100%;
    position: absolute;
}

/* Style the div that holds all of the game play info */
.container {
    background-color: #d2d3c3;
    padding: 25px;
    opacity: .8;
    width: 50%;
    margin: 0 auto;
    margin-top: 475px;
    position: relative;
}

h1 {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
}

h2,
h3 {
    color: #333;
    font-family: monospace;
    font-size: 32px;
}

p {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

/* Style the endgame screens ("You Win" or "Game Over") that pop up when the user wins or loses */
#winScreen, 
#loseScreen {
    background-color: #222;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.endgame-heading, 
.endgame-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #d2d3c3;
    font-size: 36px;
    margin: 10%;
}

.endgame-heading {
    margin-top: 450px;
    font-family: monospace;
    font-size: 150px;
}

button {
    background-color: #222;
    color: #fff;
    font-family: monospace;
    font-size: 24px;
    border: 2px solid #fff;
    width: 150px;
    padding: 5px;
    margin: 5px;
}

footer {
    background-color: #54544e;
    border-top: 8px solid #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 2;
}

.footer {
    font-size: 18px;
    color: #999;
    margin-top: 35px; 
}

/* Media Queries */

/* Hi resolution laptops and desktops */
@media screen and (min-width: 1025px) {
    .header {
        height: 150px;
    }

    #header {
        font-size: 100px;
    }
    
    .lets-play {
        font-size: 48px;
    }
}

/* Medium devices, like desktops and laptops */
@media screen and (min-width: 963px) and (max-width: 1024px) {
    body {
        background-image: url(../images/smokeyquartz.jpg);
    }
    
    .header {
        height: 150px;
    }

    #header {
        font-size: 100px;
    }
    
    .lets-play {
        font-size: 48px;
    }

    .container {
        margin: 25px 400px;
    }
}

/* small devices, like ipads, tablets and e-readers */
@media screen and (min-width: 504px) and (max-width: 962px) {
    body {
        background-image: url(../images/smokeyquartz.jpg);
        line-height: 200%;
        margin-top: 5px;
    }

    .header {
        height: 150px;
    }    
    
    #header {
        font-size: 80px;
    }

    .lets-play {
        font-size: 32px;
    }

    h2, 
    h3 {
        font-size: 24px;
    }

    footer {
        height: 100px;
    }
}