body {
    text-align: center;
    line-height: 200%;
    background-image: url(../images/smokeyquartz.jpg);
    margin-top: 200px;
}

/* Style the header div */
.header {
    text-align: center;
    background-color: #54544e;
    padding: 5px;
    position: absolute;
    height: 160px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
}

/* Style the text inside of the header */
#header {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 86px;
}

/* Style the subheading text */
.lets-play {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 42px;
    text-shadow: 4px 4px 4px #222;
}

#letsPlay {
    margin: 10%;
}

/* Style the div that holds all of the game play info */
.container {
    background-color: #d2d3c3;
    padding: 25px;
    opacity: .8;
    margin: 10%;
}

h1 {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
}

h2,
h3 {
    color: #333;
    font-family: monospace;
    font-size: 32px;
}

p {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

/* Style the endgame screens ("You Win" or "Game Over") that pop up when the user wins or loses */
#winScreen, 
#loseScreen {
    background-color: #d2d3c3;
    padding: 150px 50px;
    margin-top: 150px;
    opacity: .9;
    z-index: 100;

    /* visibility: hidden; */
}

.endgame-heading, 
.endgame-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #111;
    font-size: 36px;
}

.endgame-heading {
    font-family: monospace;
}

button {
    background-color: #222;
    color: #fff;
    font-family: monospace;
    font-size: 24px;
    border: 2px solid #fff;
    width: 100px;
    padding: 5px;
    margin: 5px;
}

footer {
    background-color: #54544e;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
